<!DOCTYPE html>
<html>
    <head>
        <title>Album Web App</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
        <script type='text/javascript'>
        function deleteData(id) {
            var request = new XMLHttpRequest();
            path = "/album/" + id;
            request.open("DELETE", path);
            request.onload = function () { window.location = "/" }
            request.send();
        }
        </script>
    </head>
    <body>
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Album Web App</h1>
        <table class='table table-hover'>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Price</th>
                <th></th>
            </tr>
            {{ range . }}
            <tr>
                <td>{{ .Title }}</td>
                <td>{{ .Artist }}</td>
                <td>{{ .Price }}</td>
                <td>
                    <form action="/edit">
                    <input type="hidden" name="id" value="{{ .ID }}">
                    <input type="submit" class="btn btn-warning" value="Edit" method="GET">
                    </input>
                    </form>
                </td>
                <td><button type="button" class='btn btn-danger' onclick="deleteData({{ .ID}})">Delete</button></td>
            </tr>
            {{ end }}
        </table>
        <br>
        <a href="/new" class="btn btn-success">Add New Album</a>
        </div>
    </div>
    </body>
</html>
