<!DOCTYPE html>
<html>
    <head>
        <title>Album Web App</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
        <script type='text/javascript'>
        function deleteData(id) {
            var request = new XMLHttpRequest();
            path = "/album/" + id;
            request.open("DELETE", path);
            request.onload = function () { window.location = "/" }
            request.send();
        }
        </script>
    </head>
    <body>
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Album Web App</h1>
        <table class='table table-hover'>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Price</th>
                <th></th>
            </tr>
            {{ range . }}
            <tr>
                <td>{{ .Title }}</td>
                <td>{{ .Artist }}</td>
                <td>{{ .Price }}</td>
                <td><button type="button" class='btn btn-danger' onclick="deleteData({{ .ID}})">Delete</button></td>
            </tr>
            {{ end }}
        </table>
        <div id="newAlbForm" class="form-group"></div>
        <form method="POST">
            <label>Title:</label><br/>
            <input type="text" name="title"><br />
            <label>Artist:</label><br/>
            <input type="text" name="artist"><br />
            <label>Price</label><br/>
            <input type="number" name="price"><br/>
            <button class="btn btn-success">Submit</button><br>
        </form>
        </div>
    </div>
    </body>
</html>
