<!DOCTYPE html>
<html>
    <head>
        <title>Album Web App</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Add New Album</h1>
            <div id="newAlbForm" class="form-group"></div>
            <form method="POST">
                <label>Title:</label><br/>
                <input type="text" name="title"><br />
                <label>Artist:</label><br/>
                <input type="text" name="artist"><br />
                <label>Price</label><br/>
                <input type="number" name="price"><br/><br>
                <a href="/" class="btn btn-outline-secondary">Cancel</a>
                <button class="btn btn-success">Submit</button><br>
            </form>
            </div>
        </div>
        </body>
    </html>
    